body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  line-height: 1.7;
}

* {
  box-sizing: border-box;
}

.finish_btn-pg {
  background-color: #67b380;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.finish_btn-pg .btn {
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 220px;
  height: 55px;
  letter-spacing: 1.5px;
  font-size: 18px;
  border-radius: 10000px;
  transition: background-color 0.2s, width 0.3s, height 0.3s;
}
.finish_btn-pg .btn:hover {
  cursor: pointer;
  background-color: #5d9971;
}
.finish_btn-pg svg {
  fill: #67b380;
}
.finish_btn-pg .animate {
  width: 60px;
  height: 60px;
  background-color: #67b380;
  animation-name: circle;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
@keyframes circle {
  60%, 80%, 100% {
    border: 1px solid transparent;
    background-color: transparent;
  }
  50%, 70%, 90% {
    border: 1px solid white;
  }
  100% {
    background-color: white;
  }
}

.animal-face-pg {
  background-color: #f0d29a;
}
.animal-face-pg .head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.animal-face-pg .face {
  position: relative;
  background-color: rgba(224, 111, 111, 0.8);
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.animal-face-pg .eye {
  position: absolute;
  top: 50%;
  background-color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.animal-face-pg .eye--left {
  left: 25%;
}
.animal-face-pg .eye--right {
  right: 25%;
}
.animal-face-pg .pupil {
  background-color: black;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}
.animal-face-pg .nose {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  background-color: pink;
  width: 55px;
  height: 45px;
  border-radius: 50%;
}
.animal-face-pg .nostril {
  position: absolute;
  top: 20%;
  background-color: rgba(224, 111, 111, 0.9);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.animal-face-pg .nostril--left {
  left: 15%;
}
.animal-face-pg .nostril--right {
  right: 15%;
}
.animal-face-pg .ear {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-right: 45px solid pink;
  z-index: -1;
}
.animal-face-pg .ear--left {
  left: -60px;
  transform: rotate(65deg) translateY(-100px);
}
.animal-face-pg .ear--right {
  right: -120px;
  transform: rotate(108deg) translate(5px, 160px);
}

.card-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 18px;
  height: 100vh;
  background-color: #c0c9d1;
  color: #383838;
  font-weight: 300;
}
.card-page .card {
  position: relative;
  background-color: white;
  text-align: center;
  overflow: hidden;
  max-width: 400px;
  padding: 30px 30px 60px;
  border-radius: 3px;
  box-shadow: 3px 0 20px 0 rgba(0, 0, 0, 0.1);
  animation-name: animate-in;
  animation-duration: 0.5s;
}
.card-page .card .heading {
  font-weight: 500;
}
.card-page .card .triangle {
  position: absolute;
  top: -28px;
  right: -8px;
  transform: rotate(-45deg);
  z-index: 0;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #8c9399;
}
.card-page .card .number {
  position: absolute;
  top: 5px;
  right: 8px;
  z-index: 1;
  color: white;
}
.card-page .card .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border: none;
  background-color: #7cbdfa;
  color: white;
  outline: none;
}
.card-page .card .btn:hover {
  cursor: pointer;
}
@keyframes animate-in {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animate-out {
  to {
    opacity: 0;
    transform: scale(1.3);
  }
}

.navigation {
  background-color: #4f6278;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
.navigation .nav {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  height: 30px;
  width: 45px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.navigation .nav:hover {
  cursor: pointer;
}
@keyframes open {
  10% {
    height: 30px;
  }
  30% {
    height: 15px;
    width: 45px;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
  }
  60% {
    height: 75px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 45px;
  }
  100% {
    width: 600px;
  }
  100% {
    height: 75px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
}
@keyframes show-nav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navigation .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation-delay: 0.7s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.navigation .list_item {
  text-transform: uppercase;
  padding: 25px;
  animation-fill-mode: forwards;
}
.navigation .list_item a {
  text-decoration: none;
  color: white;
}

.password {
  background-color: #38495c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.password .main {
  position: relative;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
  height: 50px;
  width: 300px;
}
.password input,
.password .back,
.password .code {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.password input {
  font-size: 18px;
  border: none;
  outline: none;
  z-index: 10;
}
.password .move {
  transform: translateY(-100%);
}
.password .back {
  background-color: white;
  transition: all 0.4s;
}
.password .code {
  background-color: #7dc46c;
  color: white;
}

.columns {
  height: 100vh;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.columns .col {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  padding: 0 20px;
}
.columns .col .text {
  opacity: 0;
  transition: all 0.6s;
  transform: scale(0.2);
}
.columns .col:hover {
  flex: 2;
}
.columns .col:hover .text {
  opacity: 1;
  transform: scale(1);
}
.columns .blue {
  background-color: #38485c;
}
.columns .orange {
  background-color: #d9823b;
}

.main {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}
.main h1 {
  text-align: center;
  color: #79002c;
}
.main ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.main ul li {
  background-color: rgba(0, 0, 0, 0.7);
  height: 150px;
  width: 220px;
  border-bottom: 10px solid transparent;
}
.main ul li:hover {
  border-bottom: 10px solid #c44a79;
}
.main ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  transform: translateY(10px);
}

.gallery {
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin: auto;
  background-color: white;
  padding: 5px;
  overflow: hidden;
}
.gallery main .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: url("https://images.unsplash.com/photo-1465056836041-7f43ac27dcb5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fG1vdW50YWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60") center/cover no-repeat;
  transform: translateY(-100%);
  transition: all 0.8s;
}
.gallery main .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #d76a67;
  transform: translateY(100%);
  transition: all 0.8s;
}
.gallery main .center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 2px solid white;
  height: 120px;
  width: 120px;
  transform: translate(-50%, -500px);
  transition: all 0.7s ease-out;
  transition-delay: 0.25s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery main .exit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: #d76a67;
  font-size: 20px;
  height: 60px;
  width: 60px;
  transform: translateY(-300px);
  transition: all 0.7s ease-out;
  transition-delay: 0.3s;
}
.gallery main .exit:hover {
  cursor: pointer;
}
.gallery main .exit svg {
  fill: white;
}
.gallery .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.gallery .row .img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  transition: all 0.7s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery .row .img:hover {
  cursor: pointer;
}
.gallery .row .img:hover > .btn {
  opacity: 1;
  transform: scale(1);
}
.gallery .row .img .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 200;
  background-color: #df8682;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  opacity: 0;
  transform: scale(1.8);
  transition: all 0.7s;
}

/*# sourceMappingURL=style.css.map */
