.gallery {
	background-color: rgb(240, 240, 240);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	main {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 5px;
		margin: auto;
		background-color: white;
		padding: 5px;
		overflow: hidden;

		.top {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 50%;
			background: url('https://images.unsplash.com/photo-1465056836041-7f43ac27dcb5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fG1vdW50YWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60')
				center/cover no-repeat;
			transform: translateY(-100%);
			transition: all 0.8s;
		}
		.bottom {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50%;
			background-color: rgb(215, 106, 103);
			transform: translateY(100%);
			transition: all 0.8s;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.title {
				text-transform: capitalize;
				color: white;
				font-size: 20px;
			}

			ul {
				width: 100%;
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					border: 1px solid white;
					border-radius: 50%;
					display: inline-block;
					margin: 20px;
					height: 60px;
					width: 60px;
					transition: all 0.2s;

					&:hover {
						cursor: pointer;
						background-color: white;
						a {
							color: rgb(215, 106, 103);
						}
					}

					a {
						color: white;
						text-decoration: none;
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						transition: all 0.2s;
					}
				}
			}
		}

		.center-img {
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			border: 2px solid white;
			height: 120px;
			width: 120px;
			transform: translate(-50%, -480px);
			transition: all 0.6s ease-out;
			transition-delay: 0.3s;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.exit {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 10px;
			right: 10px;
			border-radius: 50%;
			background-color: rgb(215, 106, 103);
			font-size: 20px;
			height: 60px;
			width: 60px;
			transform: translateY(-300px);
			transition: transform 0.7s ease-out;
			transition-delay: 0.3s;

			&:hover {
				cursor: pointer;
				background-color: white;

				svg {
					fill: rgb(215, 106, 103);
				}
			}

			& svg {
				fill: white;
			}
		}
	}

	.row {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;

		.img {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 300px;
			width: 300px;
			transition: all 0.7s;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;

			&:hover {
				// filter: brightness(0.7);
				cursor: pointer;

				& > .btn {
					opacity: 1;
					transform: scale(1);
				}
			}

			.btn {
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				font-size: 30px;
				font-weight: 200;
				background-color: rgb(223, 134, 130);
				border-radius: 50%;
				width: 60px;
				height: 60px;
				opacity: 0;
				transform: scale(1.8);
				transition: all 0.7s;
			}
		}
	}
}
